/* モバイル版デザインのみ作成 */

:root{
    --shadow:#0000A1;
    --dark:#1F6ED4;
    --title:#39BAE8;
    --back:#B9EDF8;
    --text:#000031;
}

* {
    margin: 0;
}

body {
    position: relative;
    background-color: var(--back);
    width: 100vw;
    background-image: url(./src/wave-sea.jpg);
    background-color: rgba(240,240,255,0.5);
    background-blend-mode: lighten;
}

.pointer {
    cursor: pointer;
}

header {
    width: 100vw;
    height: 7.5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #39BAE888;
    margin-bottom: 8%;
    z-index: 5;
}

#catch {
    height: 75%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

main {
    width: 100%;
    position: relative;
}

#m1 {
    padding-top: 12.5vh;
}

.msect {
    padding-bottom: 10vh;
    width: 100%;
}

h1 {
    color: var(--title);
    text-shadow: 1px 1px 3px #0000A1;
    font-size: 1.5em;
    text-align: center;
}

.text {
    width: 85%;
    margin-left: 7.5%;
}

.text h2 {
    font-size: 1.25em;
    color: var(--dark);
    text-align: center;
    margin-top: 5%;
}

.text p {
    margin-top: 3%;
    color: var(--text);
}

#pet {
    color: var(--dark);
    font-size: small;
    width: 90%;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
}

#sdg-imgs {
    display: inline-block;
    height: 25vw;
    width: calc((100 / 85) * 100%);
    margin-left: -9%;
    margin-top: 5%;
    text-align: center;
    background-color: #fff;
    padding: 10% 0;
}

#sdg-imgs img {
    color: var(--dark);
    font-size: small;
    height: 100%;
    margin: 0 5%;
}

#t6 {
    text-align: center;
}

footer{
    width: 100%;
    height: 30vh;
    background-color: #39BAE888;
    text-align: center;
    position: relative;
}

#logo {
    display: inline-block;
    width: 90%;
    height: 15%;
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#logo img {
    height: 100%;
    margin: 2%;
}

#des {
    color: var(--text);
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    font-size: small;
}

#copy {
    color: var(--text);
    font-size: small;
    margin-top: 3%;
}